/* stylelint-disable declaration-no-important */
/* stylelint-disable unit-disallowed-list */
html {
  font-family: var(--app-font-family-primary);
  overflow: auto !important;
  -webkit-overflow-scrolling: touch !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  min-height: vh(100);
  display: flex;
  flex-direction: column;
}

/* stylelint-disable-next-line */
body, #app {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--background-primary);
  color: var(--text-primary-main);
}

input,
select,
textarea {
  background: var(--background-primary);
  color: var(--text-primary-main);
  font-family: var(--app-font-family-primary);
  font-size: toRem(16);
  font-weight: 400;

  &:focus {
    outline: none;
  }
}

body,
span,
p,
a {
  font-size: toRem(16);
  letter-spacing: 0.1em;
}

button {
  border: none;
  width: auto;
  overflow: visible;
  cursor: pointer;
  user-select: none;
  background: transparent;
  font-family: var(--app-font-family-secondary);
  font-size: toRem(16);
  color: var(--text-primary-main);
  line-height: 1.5;
  font-weight: 600;
  outline: 0;
  margin: 0;
  padding: 0;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;

  /* Remove excess padding and border in Firefox 4+ */
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

body,
p,
li,
ul {
  list-style-type: none;
  color: var(--text-primary-main);
}

p {
  line-height: 2;

  @include respond-to(tablet) { line-height: 1.6; }
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--text-primary-main);
  font-family: var(--app-font-family-secondary);
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.1em;
}

h1 {
  font-size: toRem(24);
}

h2 {
  font-size: toRem(24);
}

h3 {
  font-size: toRem(18);
}

h4 {
  font-size: toRem(16);
}

h5 {
  font-size: toRem(14);
}

a {
  font-size: toRem(16);
  line-height: 1.25;
  font-weight: 600;
  color: var(--primary-main);
  text-decoration: none;
  outline: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

.app__metadata {
  display: flex;
  flex-direction: column;
  gap: toRem(24);

  & > .loader {
    height: toRem(400);
  }
}

.app__metadata-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > .loader {
    width: toRem(150);
  }

  &--mobile-break-line {
    flex-direction: column;
    align-items: start;
    gap: toRem(10);
  }
}

.app__metadata-lbl {
  display: flex;
  align-items: center;
  gap: toRem(10);
  font-size: toRem(14);
  line-height: 1.3;
  font-weight: 700;
  color: var(--text-secondary-main);

  @include respond-to(medium) {
    font-size: toRem(12);
  }
}

.app__metadata-value {
  font-family: var(--app-font-family-primary);
  text-align: right;
  font-size: toRem(16);
  line-height: 1.3;
  font-weight: 700;
  color: var(--text-primary-main);

  &--accent {
    color: var(--secondary-main);
  }
}

.app__price {
  display: flex;
  align-items: baseline;
  gap: toRem(4);
  font-weight: 700;
  font-size: toRem(16);
  line-height: 130%;
  color: var(--text-primary-main);

  &--big {
    font-size: toRem(20);
  }

  @include respond-to(medium) {
    font-size: toRem(14);
  }
}

.app__price-asset {
  font-size: 0.75em;
}

.app__link-wrp {
  display: flex;
  align-items: center;
  gap: toRem(10);
  cursor: pointer;
}

.app__link {
  font-weight: 700;
  color: var(--primary-main);

  &--secondary {
    font-family: var(--app-font-family-secondary);
  }

  &:hover {
    color: var(--secondary-main);
  }

  &--accented {
    color: var(--secondary-main);
  }

  &--big {
    font-size: toRem(30);

    @include respond-to(medium) {
      font-size: toRem(24);
    }
  }

  &--medium {
    font-size: toRem(24);
  }
}

.app__link-icon {
  color: var(--primary-main);
  max-width: toRem(16) !important;
  max-height: toRem(16) !important;
  min-width: toRem(16);
  min-height: toRem(16);
}

/* Global Field */

/* stylelint-disable */
.app__module-field {
  width: 100%;

  &:deep(input) {
    width: 100%;
  }
}
/* stylelint-enable */

/* Global form section */

.app__form-control {
  display: flex;
  flex-direction: column;
  gap: toRem(20);

  &-title {
    display: block;
    font-weight: 700;
    font-size: toRem(20);
    line-height: 1.3;
    letter-spacing: 0.1em;
    color: var(--text-secondary-main);
  }

  &:not(:last-child) {
    margin-bottom: toRem(30);
  }
}

.app__module-block-title {
  font-size: toRem(30);
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.1em;
  margin-bottom: toRem(20);
}

.app__module-title-address {
  grid-gap: toRem(20);
  font-size: toRem(30);
  line-height: 1.2;
  font-weight: 700;
  text-align: right;
  letter-spacing: 0.1em;
}

button.app__submit-btn {
  height: toRem(52);

  @include respond-to(medium) {
    width: 100%;

    &--cutted {
      width: calc(100% - #{toRem(28)});
    }
  }
}

/* Deploy/Edit/Module Forms and Farming */

#app .app__module-back-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: toRem(54);
  height: toRem(54);
  right: calc(100% + #{toRem(36)});
  padding: 0;

  @include respond-to(medium) {
    position: static;
    transform: translate(0);
  }
}

.app__module-heading {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include respond-to(medium) {
    grid-template-columns: 1fr;
  }
}

.app__module-title-wrp {
  position: relative;

  @include respond-to(medium) {
    display: flex;
    align-items: center;

    & > * {
      margin-left: toRem(10);
    }
  }
}

.app__module-title {
  font-family: var(--app-font-family-secondary);
  font-size: toRem(70);
  line-height: 1.2;
  font-weight: 900;
  color: var(--text-primary-main);

  @include respond-to(medium) {
    font-size: toRem(36);
  }
}

.app__module-subtitle {
  font-family: var(--app-font-family-secondary);
  font-size: toRem(30);
  font-weight: 700;
  justify-self: end;
  align-self: center;

  @include respond-to(medium) {
    justify-self: start;
    grid-row: 3;
  }
}

.app__module-description {
  font-size: toRem(16);
  line-height: 1.3;
  font-weight: 400;
  padding: toRem(20) 0 toRem(40);
  grid-column: 1 / -1;

  @include respond-to(medium) {
    padding-bottom: toRem(30);
    font-size: toRem(14);
  }
}

.app__module-content-wrp {
  margin-top: toRem(30);
  flex: 1;
}

.app__module-content {
  flex: 1;
  padding: toRem(40) toRem(165);

  & > div.app__common-form:not(:first-child) {
    margin-top: 30px;
  }

  @include respond-to(medium) {
    padding: toRem(30) toRem(20);
  }
}

.app__module-content-inner {
  display: flex;
  flex-direction: column;
  max-width: toRem(660);
  width: 100%;
  margin: 0 auto;
}

.app__module-content-title {
  font-size: toRem(24);
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: toRem(30);
  letter-spacing: 0.1em;
}

.app__common-form__title {
  display: flex;
  align-items: center;
  gap: toRem(12);
}

.app__common-form__popup {
  background-color: var(--secondary-main);
  color: var(--text-primary-invert-main);
  font-size: toRem(12);
  font-weight: 400;
  padding: toRem(12) toRem(24);
  position: absolute;
  bottom: 150%;
  left: 50%;
  min-width: toRem(250);
  display: none;
  justify-content: center;
  transform: translateX(-50%);

  &:before {
    content: '';
    position: absolute;
    padding: toRem(7);
    background-color: var(--secondary-main);
    bottom: -#{toRem(7)};
    transform: rotate(45deg);
  }
}

.app__common-form__input-icon {
  height: toRem(28);
  width: toRem(28);
  padding: toRem(6);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  color: var(--text-secondary-main);

  &:hover {
    background-color: var(--secondary-main);
    color: var(--text-primary-invert-main);

    & > .app__common-form__popup {
      display: flex;
    }
  }
}

.app__common-form__icon {
  position: relative;
  padding: toRem(6);

  .app__common-form__title-icon {
    height: toRem(12);
    width: toRem(12);
  }

  &:hover {
    background-color: var(--secondary-main);
    color: var(--text-primary-invert-main);

    & > .app__common-form__popup {
      display: flex;
    }
  }
}

.app__balance {
  font-weight: 700;
  font-size: toRem(20);
  margin-right: 28px;

  &-small {
    font-size: toRem(12);
  }

  &-insufficient {
    color: var(--warning-main);

    span {
      color: var(--warning-main);
    }
  }

  span {
    font-size: toRem(12);
    font-weight: 700;
  }

  @include respond-to(medium) {
    font-size: toRem(16);

    &-small {
      font-size: toRem(14);
    }
  }
}

.app__common-form__button-wrp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;

  & > div:last-child {
    font-weight: 700;
    font-size: toRem(20);

    & > span {
      font-size: toRem(12);
    }
  }

  @include respond-to(medium) {
    flex-direction: column;
    align-items: start;
    gap: toRem(10);
  }
}

.app__collapsed-fields {
  padding: toRem(8) 0;
}

.app__field-row {
  position: relative;
  padding-right: toRem(28);
}

.app__field-tooltip {
  position: absolute;
  right: 0;
  top: toRem(28);
  transform: translateY(-50%);
}

.app__title-icon {
  height: toRem(11);
  width: toRem(31);
  padding: 0 toRem(20) 0 0;
}

.app__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: toRem(10) 0 0 0;
}

.app__row-title {
  font-weight: 700;
  font-size: toRem(14);
  color: var(--text-secondary-main);

  @include respond-to(medium) {
    font-size: toRem(12);
  }
}

/* Deploy Success Message styles section */

.app__deploy-success-message {
  padding: toRem(24) toRem(42);
  max-width: toRem(800);
  width: 100%;

  @include respond-to(medium) {
    max-width: toRem(1000);
  }
}

.app__deploy-success-message__header {
  display: flex;
  align-items: center;
  margin-bottom: toRem(40);
}

.app__deploy-success-message__header-icon {
  color: var(--secondary-main);
  width: toRem(24);
  height: toRem(24);
  margin-right: toRem(24);
}

.app__deploy-success-message__title {
  font-family: var(--app-font-family-secondary);
  font-size: toRem(30);
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.1em;
  margin-right: auto;

  @include respond-to(medium) {
    font-size: toRem(20);
  }
}

.app__deploy-success-message__description {
  display: block;
  font-size: toRem(16);
  line-height: 1.3;
  letter-spacing: 0.1em;
  margin: toRem(40) 0;

  @include respond-to(medium) {
    font-size: toRem(14);
  }
}

.app__deploy-success-message__submit.app-button {
  width: 100%;
  margin-top: toRem(40);

  @include respond-to(medium) {
    width: 100%;
  }
}

.app__deploy-loader {
  display: flex;
  align-items: center;
  flex-direction: column;

  p {
    line-height: 1.3;
    letter-spacing: 0.1em;
    margin-top: toRem(10);
    text-align: center;
  }

  .loader {
    width: toRem(75);
    height: toRem(75);
  }
}
